@use "../../sass/partials/mixins" as *;

.button {
  width: 100%;
  background-color: var(--clr-grey-1);
  color: var(--clr-text);
  border: var(--border-default-1);
  transition: all 0.3s;
  padding: 1rem;

  @include flex(center, center);
  gap: 1.2rem;

  font-weight: 300;

  &:hover {
    background-color: var(--clr-coral);
    border: var(--border-default-2);
  }
}
