.button {
  width: 100%;
  background-color: var(--clr-grey-1);
  color: var(--clr-text);
  border: 2px solid var(--clr-text);
  transition: all 0.3s;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  font-weight: 300;

  &:hover {
    background-color: var(--clr-coral);
    border: 2px solid var(--clr-coral);
  }
}
