@use "../../sass/partials//mixins" as *;
@use "../../sass/partials/variables" as *;

.home {
  max-width: 100%;
  min-height: 100%;

  &__intro {
    width: 100%;
    margin: 9rem 0;
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 8rem;

    &--text {
      width: 45vw;
      @include flex($flexDir: column);
      gap: 2rem;

      @include responsive(lg) {
        width: 70vw;
        text-align: center;
        @include flex(center, center, column);
      }
    }

    &--para {
      font-size: 2rem;
      line-height: 1.3;
    }

    &--img {
      img {
        width: 36rem;
        border-radius: 2rem;
      }
    }
  }

  &__tech-stack {
    text-align: center;
    padding: 7rem;

    h1 {
      margin-bottom: 5rem;
    }
  }

  &__section {
    width: 50rem;
    @include flex(center, center, column);
    gap: 1.5rem;
    margin: 10rem auto;
    text-align: center;

    @include responsive(sm) {
      width: 70%;
    }

    h1 {
      margin-bottom: 3rem;
    }

    p {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
