@use "../../sass/partials//mixins" as *;

.home {
  width: 100%;
  min-height: 100vh;

  &__intro {
    padding: 9rem 18rem;

    @include flex(center, center);
    gap: 8rem;

    &--text {
      @include flex($flexDir: column);
      gap: 2rem;
    }

    &--para {
      font-size: 2rem;
      line-height: 1.3;
    }

    &--img {
      img {
        width: 36rem;
        border-radius: 2rem;
      }
    }
  }

  &__tech-stack {
    text-align: center;
    padding: 7rem;

    h1 {
      margin-bottom: 7rem;
    }
  }

  &__section {
    width: 47rem;
    @include flex(center, center, column);
    gap: 1.5rem;
    margin: 10rem auto;

    p {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
