@use "../../sass/partials/mixins" as *;

.card-container {
  width: 100%;

  @include flex($justCon: space-between, $flexDir: column);

  border: var(--border-default-1);
  padding: 2rem;
  gap: 2rem;
}

.card-detail {
  @include flex($flexDir: column);
  gap: 1.4rem;

  h2 {
    width: 100%;
    text-align: center;
  }
}

.card-icons {
  display: flex;
  gap: 1.2rem;
}

.card-icon {
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: var(--clr-coral);
  }
}

.card-btns {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.card-btn {
  width: 100%;
  background-color: var(--clr-grey-1);
  color: var(--clr-text);
  // border: 2px solid var(--clr-text);
  border: var(--border-default-1);
  transition: all 0.3s;
  padding: 1rem;
  @include flex(center, center);
  gap: 1.2rem;

  font-weight: 300;

  &:hover {
    background-color: var(--clr-coral);
    border: var(--border-default-2);
  }
}
