@use "../../sass/partials/mixins" as *;

.nav {
  width: 100%;
  padding: 3rem 4rem;
  @include flex(space-between);
  gap: 3rem;
  background-color: var(--clr-grey-1);

  @include responsive(sm) {
    padding: 1rem 2rem;
    @include flex(center, center, $flexDir: column);
  }

  &__person {
    @include flex($alignIt: center);
    gap: 2rem;
    cursor: pointer;

    &--logo {
      background-color: var(--clr-coral);
      padding: 0.9rem;

      h4 {
        color: var(--clr-grey-1);
        line-height: 1;
      }
    }
  }

  &__menu--list {
    display: flex;
    gap: 2rem;

    @include responsive(sm) {
      gap: 5rem;
    }
  }

  &__menu--item {
    padding: 1px 5px;
  }
}

.active {
  color: var(--clr-coral);
}
