@use "../../sass/partials/mixins" as *;

.nav {
  width: 100%;
  padding: 3rem 4rem;
  @include flex(space-between);
  background-color: var(--clr-grey-1);

  &__person {
    @include flex($alignIt: center);
    gap: 2rem;
    cursor: pointer;

    &--logo {
      background-color: var(--clr-coral);
      padding: 0.9rem;
      position: relative;

      h4 {
        color: var(--clr-grey-1);
        line-height: 1;
      }
    }
  }

  &__menu--list {
    display: flex;
    gap: 2rem;
  }

  &__menu--item {
    padding: 1px 5px;
  }
}

.active {
  color: var(--clr-coral);
}
