.nav {
  width: 100%;
  display: flex;
  padding: 3rem 4rem;
  justify-content: space-between;
  background-color: var(--clr-grey-1);

  &__person {
    display: flex;
    gap: 2rem;
    align-items: center;
    cursor: pointer;

    &--logo {
      background-color: var(--clr-coral);
      padding: 0.9rem;
      position: relative;

      h3 {
        color: var(--clr-grey-1);
        line-height: 1;
      }
    }
  }

  &__menu--list {
    display: flex;
    gap: 2rem;
  }
}
