@use "../../sass/partials/mixins" as *;

.work {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;

  @include flex($alignIt: center, $flexDir: column);
}

.work-content {
  width: 75%;
  @include flex($alignIt: center, $flexDir: column);

  @include responsive(md) {
    width: 85%;
  }
}

.work-intro {
  @include flex($alignIt: center, $flexDir: column);

  text-align: center;
  padding: 10rem 0;

  h1 {
    margin-bottom: 2rem;
  }
}

.work-projects {
  width: 100%;
  height: 100%;
  @include flex($alignIt: center, $flexDir: column);
  padding-top: 10rem;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 10rem 0;
    row-gap: 8rem;
    column-gap: 10rem;
  }
}
