:root {
  --clr-text: #d5d5d5;

  --clr-grey-1: #181818;
  --clr-grey-2: #1a1a1a;
  --clr-grey-3: #202020;

  --clr-coral: #e76161;

  --border-default-1: 2px solid var(--clr-text);
  --border-default-2: 2px solid var(--clr-coral);
}
